body {background-color: black;}

.eka {
    color: white;
    border: white solid;
    text-align: center;
}

.toka {
    color: black;
    border: white dotted;
    border-radius: 8px;
    background-color: grey;
    }

.study { color: white;}

.kolmas {
    border: white;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 200px;
    margin-left: 100px;
    background-color: white;
}

.neljäs {
    border: white;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.linkki {
    color: white;
    text-align: left;
    vertical-align: top;
}
