body {background-color: black;}

.eka {
    color: white;
    border: white solid;
    text-align: center;
}

.toka {
    color: black;
    border: white dotted;
    border-radius: 8px;
    background-color: grey;
    }

.linkki {
    text-align: left;
    vertical-align: top;
}
