body {
    background-color: white;
}

h1 {
    color: black;
    text-align: center;
    font-size: 20px;
}
p {
    color: green;
    text-align: left;
    font-size: 12px;
}

.hei { 
    border: 2px dotted black;
    height: 100px;
    background-color: whitesmoke;
}

.a {list-style-type: lower-alpha;
}

.b {list-style-type: square;
}

a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: black;
    color: white;
}
