body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    }  

header {
    background-color: black;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }

  nav {
    float:left;
    width: 30%;
    background: lightgray;
    padding: 20px;
    height: 300px;
}

.moi {
    background-color:white;
    width: 60%;
    padding: 20px;
    float: left;
    height: 300px;
}

.hei { 
    border: 2px dotted black;
    height: 40px;
    background-color: whitesmoke;
}

.a {list-style-type: lower-alpha;
}

.b {list-style-type: square;
}

a :link {
    color: black;
}

a :visited {
    color: black;
}

a :hover {
    color: red
}

section {
    content: "";
    display: table;
    clear: both;
}

footer { 
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
}
@media (max-width: 600px) {
nav, article {
width: 100%;
height: auto;
}
}
